html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(180, 180, 180, .9);
}
footer {
  background-color: black;
  color: white;
}
ul {
  list-style: none;
  font-size: 50px;
  text-align: center;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #afafaf;
}
a:hover{
  color: #660066;
}
td {
  text-align: justify;
}
h1 {
  font-size: 50px;
}
h1,#banner h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 35px;
}
p {
  font-size: 30px;
}
#banner {
  background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%),
                    url("images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  vertical-align: center;
}
.content{
  flex: 1;
  color: white;
  position: relative;
}
.profile-picture {
  position: absolute;
  left: 2em;
  top: 2em;
  border-radius: 50%;
  border: 1px solid rgba(80, 80, 80, 0.6);
}
.main {
  width: 75%;
  margin: 0 auto;
}
.content-part {
  padding: 0 2em;
  padding-bottom: 1em;
  background-color: #dadada;
  box-shadow: 5px 5px 0 rgba(150, 150, 150, .6);
  margin-bottom: 30px;
  border-radius: 10px;
}
.content-part:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr .9fr 1fr;
}
.grid-item {
  margin: 1% 1%;
  font-size: 30px;
  text-align: center;
  min-width: 50%;
  vertical-align: top;
  height: 100%;
}
.grid-item img {
  height: auto;
  width: 100%;
  border: 1px solid white;
}
.grid-item h3{
  text-align: left;
  margin-top: 0;
}
.grid-item p{
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}
.text-container {
  margin-top: 0;
}
.content-part:first-child{
  padding-top: 6em;
  border-top: none;
}
::-webkit-scrollbar {
    display: none;
}
@media (max-width: 1500px) {
  /* For a screen < 960px, this CSS will be read */
  .main {
    width: 100%;
    margin: 0;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .profile-picture {

  }
}
@media (max-width: 1200px) {
  .profile-picture {
    position: static;
    z-index: 0;
  }
  .content {
    text-align: center;
  }
  .content h2 {
    display: none;
  }
  h1 {
    position: relative;
    top: 40px;
  }
}
@media (max-width: 1000px) {
  /* For a screen < 960px, this CSS will be read */
  .main {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grid-item h2, .grid-item p {
    font-size: 75%;
  }
  .content {
    text-align: center;
  }
  .content h2 {
    display: none;
  }
  #banner {
    height: 70%;
  }
  .profile-picture {
    position: static;
    z-index: 0;
  }
  h1 {
    position: static;
  }
}
@media (max-width: 810px) {
  .grid-item h2, .grid-item p {
    font-size: 70%;
  }
}
@media (max-width: 730px) {
  .grid-item h2, .grid-item p {
    font-size: 60%;
  }
}
@media (max-width: 700px) {
  /* For a screen < 540px, this CSS will be read */
  .main {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: none;
    padding-top: 0;
  }
  .content h2 {
    display: inline;
  }
  h2 {
    text-align: center;
  }
  .grid-item h2, .grid-item p {
    font-size: 100%;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .7fr .5fr .8fr .5fr .8fr;
  }
}
